<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.mrminakov.bota.domain.Companies" />
        <mapping class="com.mrminakov.bota.domain.Objects" />
        <mapping class="com.mrminakov.bota.domain.Places" />
        <mapping class="com.mrminakov.bota.domain.Types" />
        <mapping class="com.mrminakov.bota.domain.Users" />
        <mapping class="com.mrminakov.bota.domain.WorkProcess" />
        <mapping class="com.mrminakov.bota.domain.Works" />
    </session-factory>
</hibernate-configuration>